# Core Framework
fastapi==0.115.8
uvicorn[standard]==0.34.0

# AI/NLP
openai==1.65.0

#Data Processing
pandas==2.3.1
requests==2.32.4

#Environment management (loads variables into Python environment from .env file)
# Keeps sensitive data out of codebase (API keys, database credentials, etc.)
python-dotenv==1.0.1

# API integrations (library for interacting with Airtable API)
airtable-python-wrapper==0.19.0

# Google services
google-api-python-client==2.192.0
google-auth-oauthlib==1.2.0

# Data export (reading and writing Excel files)
openpyxl==3.1.5

# HTTP & API helpers (for Crunchbase API)
httpx==0.28.1  # HTTP client for making API requests
urllib3==2.2.4  # HTTP library for Python


# Data & date validation
pydantic==2.10.6  # Data validation
pythondateutil==2.8.2  # Date and time manipulation
python-multipart==0.0.19  # Multipart/form-data encoding for file uploads

# Email management
email-validator==2.2.0 # Email validation
jinja2==3.1.2 # Templating for HTML emails
